html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;
    background-color: black;
    color: white;
    margin: 3rem auto;
}
.screen {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}
.calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    flex-basis: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}
.calc-button:hover {
    background-color: #ebebeb;
}
.calc-button:active {
    background-color: #bbbcbe;
}
.double {
    flex-basis: 49.7%;
}
.triple {
    flex-basis: 74.8%;
}
.calc-button:last-child {
    background-color: #df974c;
    color: white;
}
.calc-button:last-child:hover {
    background-color: #dfb07e;
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}
.calc-button-row:last-child {
    padding-bottom: 0;
}

.index-link {
	border: 1px solid grey;
	position: fixed;
	top: 1rem;
	left: 1rem;
	background-color: white;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	color: black;
	text-decoration: none;
	display: inline-block;
	opacity: 0.6;
	transition: all 0.3s ease-in-out;
}

.index-link:hover {
	opacity: 1.0;
}