body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0 2rem 0;
    background-color: white;
    border-radius: 8px;
    width: 75%;
    height: 80%;
    max-height: 95vh;
    overflow: hidden;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
h1 {
    padding: 0;
}

header {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.image-placeholder {
    width: 60%;
    max-width: 500px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    object-fit: cover;
    font-weight: bolder;
    font-size: 2rem;
    overflow: hidden;
}

.spinner {
    font-size: 3rem;
    animation: spin 1s linear infinite;
}

.dog-image.is-loading {
    display: none;
}

.image-placeholder.is-ready .spinner {
    display: none;
}

.dog-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
    z-index: 100;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.index-link {
	border: 1px solid grey;
	position: fixed;
	top: 1rem;
	left: 1rem;
	background-color: white;
	padding: 0.5rem 1rem;
	border-radius: 15px;
	color: black;
	text-decoration: none;
	display: inline-block;
	opacity: 0.6;
	transition: all 0.3s ease-in-out;
}

.index-link:hover {
	opacity: 1.0;
}